h1 { color: blue; }
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
@font-face
    {font-family: 'Slabo 27px';
        src: url(Slabo27px-Regualr.ttf);
}
body {
    font-family: 'Slabo 27px', serif;
}
.me {
    width: 300px;
    margin: 0 auto;
}
