h1 { color: red; }
h1 {
    text-align: center
}
h1 { font-family: 'Megrim', cursive;}
ul.main-menu {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
body {
    font-family: 'Open Sans', sans-serif;
}
p {
    width: 800px;
    margin: 0 auto;
}
p {
    padding: 20px;
}
p { line-height: 20px }
nav {
    text-align: center 
}
nav {
    background: white;
    padding: 20px;
}
h2 {
    width: 800px;
    margin: 0 auto;
}
footer {
    text-align: center 
}   
    
