h1 { color: red; }
h1 {
    text-align: center
}
h1 { font-family: 'Megrim', cursive;}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
a:link {
    text-decoration: none;
}

ul.main-menu>li:visited {
    text-decoration: none;
}

ul.main-menu>li:hover {
    text-decoration: underline;
}

ul.main-menu>li:active {
    text-decoration: underline;
}
body {
   font-family: 'Raleway', sans-serif;
    font-weight: 500; }
}
p {
    width: 700px;
    margin: 0 auto;
}
p {
    padding: 20px;
}

nav {
    text-align: center 
}
nav {
    background: white;
    padding: 20px;
}
h2 {
    width: 800px;
    margin: 0 auto;
}
footer {
    text-align: center 
}   
    
